h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
}

#header_general {
    background-color: #333;
    color : white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display : flex;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    margin-left: 10px;
    width: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 50%;
    font-family: 'Lato', sans-serif;
}

nav a {
    color: white;
    text-decoration : none;
    align-items: center;
}

nav .accueil a:hover {
    background-color: dimgray;
}

.accueil a {
    display : flex;
    align-content: center;
    padding: 30px 10px 30px 10px;
}

body {
    margin: 0px;
}
.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.intro {
    margin-left: 15px;
    margin-right: 15px;
}

.intro p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}

.soustitre {
    margin-left: 15px;
}

.produit {
    border: 1px solid black;
    background-color: #333333;
    color: white;
    padding: 10px;
    margin: 10px;
    flex: 1 400px;
}

.product_content {
    display : flex;
    justify-content: center;
}

.produit footer {
    margin-top: 15px;
}

.produit img {
    margin-right: 15px;
}

.produit p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}

.produit em {
     font-family: 'Lato', sans-serif;
 }

.produit a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    list-style: none;
}

.cart {
    padding: 15px;
    background-color: dimgray;
}

.cart h3 {
    margin: 0;
    padding-top: 10px;
    color: white;
}

main {
    width: 1080px;
    margin: auto;
}

.footer_general {
    background-color: #333333;
    height: 50px;
    display: flex;
    align-items: center;

}

.footer_general > p {
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
}

section table {
    width: 100%;
}

.button {
    width: 10px;
    height: 10px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: gray;
    border-radius: 5px;
}

.produitseul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.oneproduct {
    margin-bottom: 15px;
    width: 50%;
}

.formproduct {
    width: 50%;
}

#addcart {
    border: 1px solid black;
    background-color: #333333;
    color: white;
    padding: 15px;
    font-size: 14px;
}

#addcart:hover {
    background-color: dimgray;
}