 .content {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 .produit {
     border: 2px solid black;
     padding: 10px;
     margin: 10px;
     flex: 1 400px;
 }

 .menu>ul {
     list-style: none;
 }

 footer>p {
     margin: 0 auto;
     text-align: center;
 }