 .content {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 .produit {
     border: 2px solid black;
     padding: 10px;
     margin: 10px;
     flex: 1 400px;
 }

 .menu ul {
     display: flex;
     justify-content: space-around;
     flex-wrap: nowrap;
     list-style: none;
 }

 .cart {
     border: 2px solid black;
     padding: 10px;
 }

 .cart h3 {
     margin: 0;
 }

 footer>p {
     margin: 0 auto;
     text-align: center;
 }

 section table {
     width: 100%;
 }

 .button {
     width: 10px;
     height: 10px;
     padding: 5px;
     text-align: center;
     font-weight: bold;
     text-decoration: none;
     color: black;
 }